@charset "UTF-8";
.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.form-group {
  margin: 20px 0 !important;
}

.row-gap-24 {
  row-gap: 24px;
}

.min-height {
  min-height: 100vh;
}

.fs-12 {
  font-size: 12px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.w-150px {
  width: 150px;
}

.bottom-line {
  text-decoration: underline;
}

.bg-light-color {
  background-color: #D8EDEF;
}

.gray-text {
  color: #a9a8a8;
}

.text-link {
  color: #0d6efd;
}

.pink-color {
  color: #f578b6;
}

@media print {
  .not-print {
    display: none !important;
  }
}
.won-hr {
  margin-top: 26px;
  margin-bottom: 26px;
  border: 0;
  border-top: 1px solid #aba9a9;
}

.bg-grey {
  background-color: #F5F5F5;
}

.main-table {
  width: 100%;
  border-radius: 7px;
  border: none !important;
  text-align: center;
  border: 1px solid #ddd !important;
}
.main-table * {
  border: none !important;
}
.main-table tr {
  border: 1px solid #ddd !important;
}
.main-table tr th {
  background-color: #f9fafb;
  color: #6b7280;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  padding: 7px;
}
.main-table tr th.sec-th-style {
  border: 2px solid #000 !important;
}
.main-table tr td {
  background-color: #fff;
  font-size: 11px;
  padding: 7px;
  white-space: nowrap;
}

.main-btn {
  color: white !important;
  background-color: #0ABAB5;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  outline: 0 !important;
  cursor: pointer;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-btn.btn-yellow {
  background-color: #FFF181 !important;
  color: #010B14 !important;
}
.main-btn.btn-light-grey {
  background-color: #CFE1E3 !important;
  color: #010B14 !important;
}
.main-btn.btn-alt {
  background-color: #DAC8FF !important;
  color: #fff !important;
}

.btn-inp-check {
  background-color: white;
  cursor: pointer;
  padding: 1rem;
  height: 142px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1411764706);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1411764706);
  text-align: center;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  position: relative;
}
.btn-inp-check .inp-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0abab5;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
}
.btn-inp-check.check {
  background-color: #fff181;
}
.btn-inp-check.check .inp-icon {
  opacity: 1;
}
.btn-inp-check .inp {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}
.btn-inp-check .box-icon {
  border: 2px solid #fff181;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto 0.7rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f578b6;
  font-size: 20px;
  color: #fff;
}
.btn-inp-check .text {
  font-size: 16px;
}

.btn-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.btn-circle.btn-heart {
  background-color: #f578b6;
  color: #fff;
  -webkit-box-shadow: 0px 4px 12px 0 rgba(157, 157, 157, 0.6392156863);
          box-shadow: 0px 4px 12px 0 rgba(157, 157, 157, 0.6392156863);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-circle.btn-heart:hover {
  background-color: #0ABAB5;
}

.main-btn-tap {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  padding: 0.3rem 1rem !important;
  border: none !important;
  outline: none !important;
  text-align: center !important;
  color: #010B14 !important;
  background-color: transparent !important;
}
.main-btn-tap.active {
  background-color: #E4F7F7 !important;
  color: #0ABAB5 !important;
}

.btn-quantity {
  background-color: #DAC8FF;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 0px 5px;
  line-height: 18.9px;
}

.wallet-tap {
  border-bottom: none;
}
.wallet-tap .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 4px;
  padding: 16px 15px;
  font-size: 15px;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  color: #314459 !important;
  background-color: #f0f0f0;
}
.wallet-tap .nav-link i, .wallet-tap .nav-link svg {
  color: #314459 !important;
  font-size: 14px;
}

.lg-title {
  color: #0ABAB5;
  font-weight: bold;
}

.md-title {
  color: #0ABAB5;
  font-size: 30px;
  font-weight: bold;
}

.badge-pink {
  background-color: #FFE4E4;
  color: #f578b6;
  padding: 0.3rem 1rem;
  font-size: 12px;
  text-align: center;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1019607843);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.circle-badge-pink {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #f578b6;
}

.circle-lock {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.box-section {
  background-color: #D8EDEF;
  min-height: 100vh;
}

.box-offer {
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1411764706);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1411764706);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.box-offer .header-box {
  position: relative;
  padding: 1rem;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  height: 150px;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.box-offer .header-box .bg-img {
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.box-offer .header-box .add-favorite {
  background-color: #f578b6;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  font-size: 20px;
  -o-border-radius: 50%;
  border: none !important;
  outline: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box-offer .content {
  padding: 1rem;
  border: 2px solid #ddd;
  border-top: none;
  border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
}
.box-offer .content .main-btn {
  font-size: 13px !important;
}
.box-offer .content .text {
  font-size: 13px;
}
.box-offer .content .price .small-price {
  font-size: 13px;
}
.box-offer .content .old-price {
  color: #a3a3a3;
  font-size: 13px;
}
.box-offer .content .info-user .img-user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #FFF181;
  overflow: hidden;
  margin: 0 auto;
}
.box-offer .content .info-user .img-user img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.box-offer .content .info-user .name {
  font-size: 13px;
}

.stor-box {
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  background-color: #fff;
}
.stor-box .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.stor-box .main-info .stor-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.stor-box .main-info .stor-info .img-holder {
  border: 1px solid #FFF181;
  border-radius: 50%;
  padding: 5px;
}
.stor-box .main-info .stor-info .img-holder img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.stor-box .main-info .stor-info .text-holder .name {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #767676;
}
.stor-box .main-info .stor-info .text-holder .location {
  font-size: 10px;
  color: #8f8f8f;
  margin-bottom: 0;
}
.stor-box .stor-des {
  color: #8f8f8f;
  font-size: 12px;
  margin-bottom: 20px;
}
.stor-box .btn-holder-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stor-box .btn-holder-more button,
.stor-box .btn-holder-more a {
  font-size: 11px;
  border-radius: 6px;
  padding: 7px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.stor-box .btn-holder-more button:hover,
.stor-box .btn-holder-more a:hover {
  background-color: #f578b6;
}

.box-border {
  padding: 1rem;
  background-color: white;
  border: 2px solid #0ABAB5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 0px 7px 10px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 10px 0 rgba(0, 0, 0, 0.07);
}
.box-border .img-box {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-border .text p {
  font-size: 12px;
}
.box-border .info .icon {
  color: #f578b6;
}
.box-border .box-section-icon .box-icon {
  border: 2px solid #fff181;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto 0.3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f578b6;
  font-size: 20px;
}

.categories-box {
  border: 1px solid #e9e9e9;
  padding: 15px;
  border-radius: 11px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.0901960784);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.0901960784);
}
.categories-box .categories-name {
  margin-bottom: 0px;
}
.categories-box .categories-name a {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #444;
  font-size: 13px;
}
.categories-box .categories-name a i,
.categories-box .categories-name a svg {
  color: #8f8f8f;
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.categories-box .categories-name a[aria-expanded=false] i,
.categories-box .categories-name a[aria-expanded=false] svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.categories-box .collapse:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
}
.categories-box .collapse .sections li {
  padding: 5px 5px;
}
.categories-box .collapse .sections li label {
  color: #444;
  font-size: 13px;
}

.box-department {
  position: relative;
  height: 270px;
  border-radius: 16px;
  overflow: hidden;
}
.box-department::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.28)), color-stop(rgba(206, 207, 207, 0.09)), color-stop(rgba(255, 255, 255, 0.19)), color-stop(rgba(0, 0, 0, 0.4784313725)), to(rgba(0, 0, 0, 0.768627451)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.28), rgba(206, 207, 207, 0.09), rgba(255, 255, 255, 0.19), rgba(0, 0, 0, 0.4784313725), rgba(0, 0, 0, 0.768627451));
}
.box-department img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.box-department .added {
  position: absolute;
  top: 10;
  left: 10px;
  background-color: #DAC8FF;
  color: #000;
  padding: 4px 16px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  z-index: 2;
}
.box-department .name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 87%;
  z-index: 2;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 992px) {
  .box-department .name {
    font-size: 18px;
  }
}
.box-department:hover img {
  -webkit-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
}

.box-services {
  position: relative;
  border-radius: 16px;
}
.box-services .img-holder {
  border-radius: 16px;
  width: 100%;
  height: 130px;
}
.box-services .img-holder img {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-services .btn-holder {
  position: absolute;
  top: 13px;
  left: 10px;
}
.box-services .text-content {
  border-radius: 0px 0px 16px 16px;
  padding: 12px;
  border: 2px solid #e9e9e9;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.0901960784);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.0901960784);
}
.box-services .text-content .name {
  color: #0ABAB5;
  font-size: 17px;
}
.box-services .text-content .des {
  color: #444;
  font-size: 9px;
}
.box-services .text-content .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box-services .text-content .more-info .mony i,
.box-services .text-content .more-info .mony svg,
.box-services .text-content .more-info .location i,
.box-services .text-content .more-info .location svg {
  color: #f578b6;
  font-size: 10px;
  margin-left: 5px;
}
.box-services .text-content .more-info .mony span,
.box-services .text-content .more-info .location span {
  font-size: 10px;
  color: #333;
}

.box-chat {
  background-color: #e5f3f4;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.box-chat .head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}
.box-chat .head-box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}
.box-chat .head-box .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.box-chat .head-box .user p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 15px;
}
.box-chat .head-box .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}
.box-chat .head-box .date span {
  color: #777;
  font-weight: 400;
  font-size: 13px;
}
.box-chat .head-box .date .circle {
  color: #d1d1d1;
}
.box-chat .status {
  color: #0ABAB5;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.box-chat .massage {
  color: #555;
  font-size: 13px;
  margin-bottom: 0;
}

.chatting-box {
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #0ABAB5;
  border-radius: 12px;
}
.chatting-box .user-bar {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 9px;
}
.chatting-box .user-bar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chatting-box .user-bar p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
}
.chatting-box .chat-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 25px;
  margin-right: auto;
}
.chatting-box .chat-content.speak {
  margin-left: auto;
  margin-right: 0;
}
.chatting-box .chat-content.speak .chat-head-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.chatting-box .chat-content.speak .chat-head-info .about-user {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.chatting-box .chat-content.speak .message-content {
  background-color: #eaeff4;
  color: #444;
}
.chatting-box .chat-content .chat-head-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 7px;
}
.chatting-box .chat-content .chat-head-info .about-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 7px;
}
.chatting-box .chat-content .chat-head-info .about-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.chatting-box .chat-content .chat-head-info .about-user p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 13px;
}
.chatting-box .chat-content .chat-head-info p.time {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 600;
  color: #a2aab6;
}
.chatting-box .chat-content .message-content {
  background-color: #0ABAB5;
  color: #fff;
  border-radius: 6px;
  padding: 15px 12px;
  font-size: 12px;
}

.cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 30px;
}
.cart-box .about-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.cart-box .about-cart img {
  width: 95px;
  height: 90px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-box .about-cart .cart-info .name {
  font-weight: 600;
  font-size: 17px;
}
.cart-box .about-cart .cart-info .des {
  font-size: 12px;
  color: #555;
  margin-bottom: 0;
}
.cart-box .more-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cart-box .more-options div {
  text-align: center;
}
.cart-box .more-options div.quantity span {
  margin: 0 8px;
  font-size: 15px;
}
.cart-box .more-options div p {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 8px;
}
.cart-box .more-options div span {
  font-weight: 600;
  font-size: 13px;
}

.total-box {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.total-box div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.total-box div span {
  font-weight: 700;
}

.btns-holder-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.main-table-border {
  border: 2px solid #0ABAB5 !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  padding: 0.25rem;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.main-table-border table {
  margin: 0 !important;
  border: none !important;
}
.main-table-border table thead, .main-table-border table tbody, .main-table-border table tr, .main-table-border table th, .main-table-border table td {
  text-align: center !important;
  border: none !important;
}
.main-table-border table th, .main-table-border table td {
  padding: 5px !important;
}
.main-table-border table td {
  font-size: 14px !important;
}

.box-subject {
  background-color: #fff;
  padding: 19px 9px;
  border-bottom: 1px solid #eaeaea;
}
.box-subject .title {
  display: block;
  color: #0ABAB5;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.box-subject .icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  margin-bottom: 8px;
}
.box-subject .icon-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
}
.box-subject .icon-bar div i, .box-subject .icon-bar div svg {
  color: #777777;
  font-size: 11px;
}
.box-subject .icon-bar div span {
  color: #777777;
  font-size: 13px;
}
.box-subject .des {
  color: #545454;
  font-size: 13px;
}

.box-add-offer .header-offer .img-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-add-offer .header-offer .name {
  color: #0d6efd !important;
  font-weight: bold;
}
.box-add-offer .header-offer .info {
  font-size: 13px;
  color: #777777;
}

.satrs .star {
  color: #ddd;
}
.satrs .star.active {
  color: #FFC107;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transform: 0.3s;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transform: 0.3s;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
  transform: 0.3s;
}

input:focus::placeholder {
  opacity: 0;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

.main-inp {
  position: relative;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  overflow: hidden;
  width: 100%;
}
.main-inp .icon {
  font-size: 16px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #010B14;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.main-inp input {
  width: 100%;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 1rem 1rem;
  padding-right: calc(1rem + 15px + 0.5rem);
}
.main-inp input::-webkit-input-placeholder {
  color: #010B14;
}
.main-inp input::-moz-placeholder {
  color: #010B14;
}
.main-inp input:-ms-input-placeholder {
  color: #010B14;
}
.main-inp input::-ms-input-placeholder {
  color: #010B14;
}
.main-inp input::placeholder {
  color: #010B14;
}
.main-inp select {
  width: 100%;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 10.1px;
  margin-top: 7px;
  border-radius: 12px;
}
.main-inp textarea.won {
  margin-top: 7px !important;
  border: solid 1px #a9a9a9 !important;
}

.inp-check {
  position: relative;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1921568627);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1921568627);
  margin-right: 3px;
  margin-left: 3px;
}
.inp-check::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.3s;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #4D545A;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 16px;
}
.inp-check:checked::before {
  content: "✓";
  background-color: #0ABAB5;
  border-color: #0ABAB5;
}

.main-textarea {
  width: 100%;
  resize: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  height: 200px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-box-shadow: 0px 3px 9px 0 rgba(255, 164, 7, 0.1215686275), 0px 0px 5px 0 rgba(0, 0, 0, 0.168627451);
          box-shadow: 0px 3px 9px 0 rgba(255, 164, 7, 0.1215686275), 0px 0px 5px 0 rgba(0, 0, 0, 0.168627451);
  outline: none !important;
  padding: 1rem 1rem;
  border: dashed 2px #4D545A;
}

.bg-inp-check {
  background-color: white !important;
}
.bg-inp-check:checked {
  background-color: #0abab5 !important;
  border: 1px solid #0abab5;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(10, 186, 180, 0.274);
          box-shadow: 0 0 0 0.25rem rgba(10, 186, 180, 0.274);
}

.main-select {
  border-color: #e9e9e9;
  padding: 10px 15px 10px 40px;
  border-radius: 10px;
  font-size: 10px;
  color: #666;
}
.main-select.form-select {
  background-position: left 11px center;
  background-position-y: 53%;
  background-size: 9px 10px;
}
.main-select.form-select:focus {
  border-color: #0ABAB5;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(10, 186, 181, 0.41);
          box-shadow: 0 0 0 0.25rem rgba(10, 186, 181, 0.41);
}

.search-bar {
  border: 1px solid #e9e9e9;
  padding: 10px 20px;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4px;
}
.search-bar i,
.search-bar svg {
  font-size: 20px;
  color: #8f8f8f;
}
.search-bar input {
  color: #8f8f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
}
.search-bar input::-webkit-input-placeholder {
  font-size: 11px;
}
.search-bar input::-moz-placeholder {
  font-size: 11px;
}
.search-bar input:-ms-input-placeholder {
  font-size: 11px;
}
.search-bar input::-ms-input-placeholder {
  font-size: 11px;
}
.search-bar input::placeholder {
  font-size: 11px;
}

.pagination .page-item:first-child a,
.pagination .page-item:last-child a {
  border: none;
}
.pagination .page-item:last-child a {
  color: #010b14;
}
.pagination .page-item {
  margin: 0 5px;
}
.pagination .page-item .page-link {
  border-color: #FFF181;
  color: #000;
  padding: 5px 8px;
}
.pagination .page-item .page-link:hover {
  background-color: #f1f3f5;
}
.pagination .page-item .page-link.active {
  background-color: #FFF181;
  border-color: #FFF181;
  color: #000;
}
.pagination .page-item .page-link.active:hover {
  border-color: #FFF181 !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: #010B14;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #010B14;
}
a:hover {
  color: #010B14;
}

button {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

input {
  direction: rtl !important;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
input:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
input:focus::placeholder {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section {
  padding-top: calc(62px + 1rem) !important;
  padding-bottom: calc(65.5px + 1rem) !important;
}
@media print {
  .section {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

.login-section .main-inp {
  position: relative;
  border: 2px solid #0ABAB5 !important;
}
.login-section .main-inp .icon {
  color: #4D545A !important;
}
.login-section .main-inp input::-webkit-input-placeholder {
  color: #4D545A !important;
}
.login-section .main-inp input::-moz-placeholder {
  color: #4D545A !important;
}
.login-section .main-inp input:-ms-input-placeholder {
  color: #4D545A !important;
}
.login-section .main-inp input::-ms-input-placeholder {
  color: #4D545A !important;
}
.login-section .main-inp input::placeholder {
  color: #4D545A !important;
}
.login-section .main-btn {
  padding: 0.7rem 2rem;
  font-size: 16px;
}
.login-section .btn-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.18);
  text-transform: capitalize;
  min-width: 112.5px;
}
.login-section .btn-social .icon {
  width: 18px;
  height: auto;
}

.top-nav {
  position: fixed;
  left: 0;
  height: 62px;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
}
.top-nav .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-nav .nav-content .navbar {
  gap: 13px;
}
.top-nav .nav-content .navbar .navbar-toggler {
  border: none;
  padding: 0;
}
.top-nav .nav-content .navbar .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.top-nav .nav-content .navbar .offcanvas {
  width: 290px;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav {
  margin-bottom: 3rem;
  position: relative;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d5d5d5;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.nav-img {
  margin-bottom: 15px;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.nav-img img {
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.nav-img h5, .top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.nav-img h6 {
  font-weight: 700;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.nav-img h6 {
  color: #0ABAB5;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 7px;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link.active {
  background-color: #0ABAB5;
  color: #fff;
  margin-bottom: 10px;
}
.top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link i, .top-nav .nav-content .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link svg {
  font-size: 20px;
}
.top-nav .nav-content .image-holder a {
  position: relative;
}
.top-nav .nav-content .image-holder a span {
  position: absolute;
  right: -6px;
  top: -2px;
  background: #d56363;
  border: 2px solid #fbfbfb;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  position: relative;
  top: 0;
  height: 65.5px;
  left: 0;
  width: 100%;
  z-index: 11;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #efeff0;
}
@media (max-width: 767.98px) {
  .header {
    position: fixed !important;
    bottom: 0;
    top: auto;
    border-top: 1px solid #efeff0;
  }
  .header .main-nav .nav-menu {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .header .main-nav .nav-menu .nav-item .nav-link {
    padding: 6px 11px !important;
  }
}
.header .main-nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header .main-nav .nav-menu .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  padding: 14px 16px;
  color: #AFB1B6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .main-nav .nav-menu .nav-item .nav-link .nav-icon {
  font-size: 23px;
}
.header .main-nav .nav-menu .nav-item .nav-link.active .nav-icon, .header .main-nav .nav-menu .nav-item .nav-link.active .nav-name {
  color: #0ABAB5;
}
.header .main-nav .nav-menu .nav-item .nav-link .nav-name {
  font-weight: 500;
  font-size: 13px;
}
.header .main-nav .nav-menu .nav-item .nav-link:hover {
  color: #0ABAB5;
}

.profile-section .img-user {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 1px 7px 0 hsla(0deg, 0%, 0%, 0.46);
          box-shadow: 0px 1px 7px 0 hsla(0deg, 0%, 0%, 0.46);
}
.profile-section .name-user {
  font-size: 19px;
  margin-bottom: 1rem;
  font-weight: bold;
}
.profile-section .title {
  background-color: #f5f5f5;
  color: #4D545A;
  font-size: 16px;
  padding: 0.7rem 1rem;
}
.profile-section .list-profile {
  list-style: none;
}
.profile-section .list-profile li .link {
  color: #4D545A;
  padding: 0.7rem 1rem;
  font-size: 16px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.profile-section .list-profile li .link .icon {
  width: 15px;
}

.section-home {
  padding-top: 62px !important;
  padding-bottom: 65.5px !important;
}
.section-home .landing-page {
  background-image: url(../img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
  color: white;
}
.section-home .landing-page .title {
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3019607843);
}
.section-home .landing-page .text {
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3019607843);
}

.your-occasions .box-occasions {
  padding: 0 1.5rem;
  -webkit-box-shadow: 0px 7px 10px 0 rgba(0, 0, 0, 0.0705882353);
          box-shadow: 0px 7px 10px 0 rgba(0, 0, 0, 0.0705882353);
  border: 2px solid #ddd;
  border-radius: 15px;
  height: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.your-occasions .box-occasions .content {
  width: 100%;
}
.your-occasions .box-occasions .content .time .item {
  padding: 0 0.8rem;
  text-align: center;
  color: #0ABAB5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.your-occasions .box-occasions .content .time .item .num {
  font-size: 31px;
  font-weight: bold;
  line-height: 28px;
}
.your-occasions .box-occasions .content .time .item:not(:last-child) {
  border-left: 1px solid #ddd;
}
.your-occasions .box-occasions .content .icon {
  color: #f578b6;
}

.sections .swiper-btn:after {
  background-color: white !important;
  font-size: 16px !important;
  width: 26px !important;
  padding: 15px !important;
  height: 26px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  border-radius: 50% !important;
  color: black !important;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5215686275) !important;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5215686275) !important;
}
.sections .swiper-wrapper {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.sections .swiper-wrapper .box-sections {
  display: block;
  position: relative;
  padding: 1rem;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 100%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sections .swiper-wrapper .box-sections::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.72)), to(transparent));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), transparent);
  z-index: -1;
}
.sections .swiper-wrapper .box-sections .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  z-index: -2;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.sections .swiper-wrapper .box-sections:focus .bg-img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.sections .swiper-wrapper .box-sections .badge-box {
  margin-right: auto;
  background-color: #DAC8FF;
  font-size: 12px;
  padding: 0.3rem 1.5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.sections .swiper-wrapper .box-sections .title {
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

.invoice-section .info-user .img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.show-order-section .info-user-order .img-user {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}