.box-section {
  background-color: $light-mian-color;
  min-height: 100vh;
}

.box-offer {
  box-shadow: 0px 4px 10px 0 #00000024;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  .header-box {
    position: relative;
    padding: 1rem;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    height: 150px;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    .bg-img {
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    .add-favorite {
      background-color: $pink-color;
      color: white;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      font-size: 20px;
      -o-border-radius: 50%;
      border: none !important;
      outline: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .content {
    padding: 1rem;
    border: 2px solid #ddd;
    border-top: none;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    .main-btn {
      font-size: 13px !important;
    }
    .text {
      font-size: 13px;
    }
    .price {
      .small-price {
        font-size: 13px;
      }
    }
    .old-price {
      color: #a3a3a3;
      font-size: 13px;
    }
    .info-user {
      .img-user {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 2px solid $yellow-color;
        overflow: hidden;
        margin: 0 auto;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .name {
        font-size: 13px;
      }
    }
  }
}

.stor-box {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 14%);
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  background-color: $white-color;
  .main-info {
    @include flex-between;
    margin-bottom: 10px;
    .stor-info {
      @include flex-center;
      gap: 10px;
      .img-holder {
        border: 1px solid $yellow-color;
        border-radius: 50%;
        padding: 5px;
        img {
          @include circle(45px, 45px);
        }
      }
      .text-holder {
        .name {
          margin-bottom: 4px;
          font-weight: 600;
          font-size: 12px;
          color: #767676;
        }
        .location {
          font-size: 10px;
          color: $light-text;
          margin-bottom: 0;
        }
      }
    }
  }
  .stor-des {
    color: $light-text;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .btn-holder-more {
    @include flex-center;
    button,
    a {
      font-size: 11px;
      border-radius: 6px;
      padding: 7px 15px;
      transition: $sm-transition;
      &:hover {
        background-color: $pink-color;
      }
    }
  }
}

.box-border {
  padding: 1rem;
  background-color: white;
  border: 2px solid $mian-color;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 7px 10px 0 rgb(0 0 0 / 7%);
  .img-box {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
  }
  .text {
    p {
      font-size: 13px;
    }
  }
  .info {
    .icon {
      color: $pink-color;
    }
  }
  .box-section-icon {
    .box-icon {
      border: 2px solid #fff181;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0 auto 0.3rem auto;
      @include flex-center;
      color: $pink-color;
      font-size: 20px;
    }
  }
}

.categories-box {
  border: 1px solid $main-border;
  padding: 15px;
  border-radius: 11px;
  box-shadow: 0 0 5px 0 #00000017;
  .categories-name {
    margin-bottom: 0px;
    a {
      margin-bottom: 15px;
      @include flex-between;
      color: #444;
      font-size: 13px;
      i,
      svg {
        color: $light-text;
        font-size: 12px;
        transition: $sm-transition;
      }
      &[aria-expanded="false"] {
        i,
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
  .collapse {
    &:not(:last-child) {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid $main-border;
    }
    .sections {
      li {
        padding: 5px 5px;
        label {
          color: #444;
          font-size: 13px;
        }
      }
    }
  }
}

.box-department {
  position: relative;
  height: 270px;
  border-radius: 16px;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgb(255 255 255 / 28%),
      rgb(206 207 207 / 9%),
      rgb(255 255 255 / 19%),
      rgba(0, 0, 0, 0.4784313725),
      rgba(0, 0, 0, 0.768627451)
    );
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $main-transition;
  }
  .added {
    position: absolute;
    top: 10;
    left: 10px;
    background-color: $alt-color;
    color: $black-color;
    padding: 4px 16px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 600;
    z-index: 2;
  }
  .name {
    @include center-position;
    top: 87%;
    z-index: 2;
    color: $white-color;
    font-size: 16px;
    font-weight: 300;
    @include minWidth(lg) {
      font-size: 18px;
    }
  }
  &:hover {
    img {
      transform: scale(1.1) rotate(2deg);
    }
  }
}

.box-services {
  position: relative;
  border-radius: 16px;
  .img-holder {
    border-radius: 16px;
    width: 100%;
    height: 45%;
    img {
      border-radius: 16px 16px 0px 0px;
      @include full-w-h;
      object-fit: cover;
    }
  }
  .btn-holder {
    position: absolute;
    top: 13px;
    left: 10px;
  }
  .text-content {
    border-radius: 0px 0px 16px 16px;
    padding: 12px;
    border: 2px solid $main-border;
    box-shadow: 0 0 5px 0 #00000017;
    .name {
      color: $mian-color;
      font-size: 17px;
    }
    .des {
      color: #444;
      // font-size: 11px;
      font-size: 9px;
    }
    .more-info {
      @include flex-between;
      .mony, .location {
        i,svg {
          color: $pink-color;
          font-size: 10px;
          margin-left: 5px;
        }
        span {
          font-size: 11px;
          color: #333;
        }
      }
    }
  }
}
