.main-nav {
 position: fixed !important;
 bottom: 0;
 width: 100%;
 height: 59px;
 top: auto;
 border-top: 1px solid #ddd;
     box-shadow: 0 0 10px 0 #00000021;
 background-color: #FFFFFF;
 .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.nav-item .nav-link {
 align-items: center;
 justify-content: center;
 display: inline-flex;
 flex-direction: column;
 gap: 3px; 
 padding: 14px 16px;
 color: #AFB1B6;
 transition: 0.4s;
 &:hover {
  color: $mian-text-color;
 }
 .nav-icon {
  font-size: 23px;
}
}
}