
// Start  profile-section 
.profile-section  {
 .img-user {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  box-shadow: 0px 1px 7px 0 hsl(0deg 0% 0% / 46%);
}
.name-user {
 font-size: 19px;
 margin-bottom: 1rem;
 font-weight: bold;
}
.title {
 background-color: $grey-color;
 color: $color-50;
 font-size: 16px;
 padding: 0.7rem 1rem;
}
.list-profile {
 list-style: none;
 li {
  .link {
   color: $color-50;
   padding: 0.7rem 1rem;
   font-size: 16px;
   display: block;
   display: flex;
   align-items: center;
   gap: 7px;
   .icon {
    width: 15px;
   }
  }
 }
}
}
// End  profile-section 

// Satrt Home Page
.section-home {
  padding-top: calc(62px) !important;
  padding-bottom: calc(65.5px)  !important;
  .landing-page {
  background-image: url(../img/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
  color: white;
  .title {
    text-shadow: 0px 1px 10px #0000004d;
  }
  .text {
    text-shadow: 0px 1px 10px #0000004d;
  }
  }

}
.your-occasions {
  .box-occasions {
    padding:0 1.5rem;
    box-shadow: 0px 7px 10px 0 #00000012;
    border: 2px solid #ddd;
    border-radius: 15px;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      width: 100%;
      .time {
        .item {
          padding: 0 0.8rem;
          text-align: center;
          color: $mian-color;
          display: flex;
          align-items: center;
          flex-direction: column;
          .num {
            font-size: 31px;
            font-weight: bold;
            line-height: 28px;
          }
          &:not(:last-child) {
            border-left: 1px solid #ddd;
          }
      }
      }
      .icon {
        color: #F578B6;
      }
    }
  }
}
// End Home Page